table {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#transactions-table {
    width: calc(100% - 40px);
    margin: 20px;
}

tr.expense {
    background-color: #ff7961;
}

tr.income {
    background-color: #6fbf73;
}

#transaction-options-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#new-transaction-form, #transaction-details {
    border: 1px solid black;
    padding: 20px;
}